body main section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

body article {
  max-width: 720px;
  margin: 0 auto 40px;
}

body article * {
  max-width: 100%;
}

body article pre {
  overflow-x: auto;
}

body .biog {
  background-color: #eee;
  margin-top: 2em;
  padding: 2em;
  padding-left: calc(2em + 64px + 1.5em);
  position: relative;
}

body .biog img {
  max-width: 64px;
  position: absolute;
  border-radius: 50%;
  left: 2em;
}

body .biog span, body .biog h2 {
  font-size: 120%;
  font-weight: bold;
  margin: 0;
}

body .license {
  color: darkgray;
  float: left;
  font-style: italic;
  font-size: 75%;
}

body main section a {
  text-decoration: none;
}

body main section div [itemprop='author'], body article [itemprop="author"] {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

body main section div [itemprop='author']::after, body article [itemprop="author"]::after {
  content: '\025A0';
  color: inherit;
  text-decoration: none;
  padding: 0 1.0ch 0 1.5ch;
  font-size: 80%;
  vertical-align: top;
}

body main section div h3 {
  margin-bottom: 0;
  margin-left: 125px;
}

body main section div img {
  max-width: 100%;
  margin-bottom: 1em;
}

body main>div {
  clear: left;
  padding: 80px 0;
}

body main > h2 + img {
  /* Author biog image */
  float: left;
  max-height: 5em;
  border-radius: 50%;
}


body article .sharezone {
  float: right;
  font-weight: bold;
  line-height: 45px;
  margin-bottom: 2em;
}

body article .sharezone a {
  float: right;
  margin-left: 10px;
  border-radius: 3em;
  text-indent: 100%;
  overflow: hidden;
  width: 48px;
  height: 48px;
  background-color: rgb( 0, 70, 30);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: 50%;
}

body article .sharezone a:last-of-type {
  margin-left: 15px;
}

body article [href^="https://www.twitter.com/intent/tweet"] {
  background-image: url(/img/Twitter_Logo.svg);
}

body article [href^="https://facebook.com/sharer"] {
  background-image: url(/img/Facebook_Logo.png);
}

body article [href^="https://linkedin.com/shareArticle"] {
  background-image: url(/img/LinkedIn_Logo.svg);
}

body article .sharezone + * {
  clear: right;
}

@media screen and (max-width: 375px) {
  body article .sharezone a {
    float: left;
    margin-left: 0;
    margin-right: 10px;
  }

  body article .sharezone a:last-of-type {
    margin-left: 0;
  }

  body article .sharezone span {
    width: 100%;
    display: inline-block;
  }
}

@media screen and (max-width: 960px) {
 body header nav a {
    font-size: 16px;
  }
  body header nav a::after {
    opacity: 0;
  }
  body main section, body main article {
    grid-template-columns: 100%;
    padding: 0;
    max-width: 100%;
  }
}

.product-page h1 {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}