header, footer, main {
  width: 100%;
  box-sizing: border-box;
  padding: 0 calc(((100vw) - (1150px)) / ( 2));
}

main::after {
  content: '';
  display: table;
  clear: both;
}

body {
  width: 100%;
  margin: 0;
  font-size: 13pt;
  font-family: 'Chivo', sans-serif;
  background-color: white;
}

#signup input[type='text'] {
  width: 29ch;
}

.orange {
  color: rgb(255, 180, 50);
}

.orange::after {
  content: '\00a0';
}

body {
  color: rgb( 75, 95, 70);
  font-family: 'Chivo', sans-serif;
  background-color: white;
}

body h1, h2, h3, h4, h5, h6 {
  color: rgb( 0, 70, 30);
}

body h1 {
  font-size: 66px;
}

body h2 {
  margin-bottom: 1.1em;
  font-size: 22pt;
}

body h3 {
  font-size: 22px;
}

body header {
  z-index: 0;
  background-color: rgb(200, 250, 100);
  text-align: center;
  position: relative;
  padding-bottom: 1em;
}

body header>*, body main>* {
  margin-left: 40px;
  margin-right: 40px;
}

body header>nav {
  font-weight: bold;
  padding-top: 24px;
}

body header>nav a {
  text-decoration: none;
  font-weight: bold;
  float: right;
  margin-left: 2ch;
}

body header>nav a:hover {
  text-decoration: underline;
}

body header>nav::after {
  content: '';
  display: table;
  clear: both;
}

body header>a {
  padding-top: 24px;
}

body header a {
  font-size: 22px;
  display: inline-block;
  color: rgb( 0, 70, 30);
}

body button, body a.button {
  font-size: 28px;
  text-decoration: none;
  border: none;
  padding: 12px 70px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 30px;
  font-family: inherit;
  font-weight: bold;
  background-color: rgb( 0, 70, 30);
  color: white;
}

body main section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

body article {
  max-width: 720px;
  margin: 0 auto;
}

body article * {
  max-width: 100%;
}

body article pre {
  overflow-x: auto;
}

body article .biog {
  background-color: #eee;
  margin-top: 2em;
  padding: 2em;
  padding-left: calc(2em + 64px + 1.5em);
  position: relative;
}

body article .biog img {
  max-width: 64px;
  position: absolute;
  border-radius: 50%;
  left: 2em;
}

body article .biog span {
  font-size: 120%;
  font-weight: bold;
}

body main section div {
  clear: left;
  padding-bottom: 5px;
}

body main section div a {
  text-decoration: none;
  color: rgb( 0, 70, 30);
}

body main section div h2 {
  margin-bottom: 30px;
}

body main section div p {
  margin-top: 0.5em;
}

body main section div time, body article time {
  font-weight: bold;
}

body main section div [itemprop='author'], body article [itemprop="author"] {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

body main section div [itemprop='author']::after, body article [itemprop="author"]::after {
  content: '\025A0';
  color: inherit;
  text-decoration: none;
  padding: 0 1.0ch 0 1.5ch;
  font-size: 80%;
  vertical-align: top;
}

body main section div h3 {
  margin-bottom: 0;
  margin-left: 125px;
}

body main section div img {
  max-width: 100%;
  margin-bottom: 1em;
}

body main>div {
  clear: left;
  padding: 80px 0;
}

body main > h2 + img {
  /* Author biog image */
  float: left;
  max-height: 5em;
  border-radius: 50%;
}

body footer {
  background: rgb(200, 250, 100);
  color: rgb( 0, 70, 30);
  min-height: 20vh;
  border: none;
  padding-top: 10vh;
  margin-top: 5vh;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  body h1 {
    font-size: 40px;
  }
  body section h1 {
    margin: 40px;
  }
  body header>* {
    margin-left: 20px;
    margin-right: 20px;
  }
  body a.button {
    font-size: 20px;
  }
  body main section:first-of-type, body main section:last-of-type, body article {
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
    max-width: 100%;
    border: none;
  }
}