---
---
{% for post in site.posts %}
Redirect 301 /{{ post.date | date: "%Y/%m/%d" }}/{{ post.slug }}.html {% if post.location %}{{ post.location }}{% else %}{{ site.url }}{{ post.url }}{% endif %}
{% endfor %}