# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Registers.app Blog
email: hello@register-dynamics.co.uk
author: Register Dynamics
description: >- # this means to ignore newlines until "baseurl:"
  Registers are distributed lists you can trust. On Registers.blog, we
  discuss the challenges of building dependable open lists of trusted
  data and the powerful Registers technology that makes it possible.
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://registers.blog" # the base hostname & protocol for your site, e.g. http://example.com
lang: en_GB

twitter_username: RegDyn
github_username:  register-dynamics

twitter:
  type: summary
  username: regdyn

data:
  authors:
    Andy Bennett:
      twitter: databasescaling
    Simon Worthington:
      twitter: 51M0NW
    Nisa Chitakasem:
      twitter: ninichi

collections:
  posts:
    output: true
    permalink: /:title
  authors:
    output: true

# Build settings
markdown: kramdown

plugins:
  - jekyll-feed
  - jekyll-seo-tag

show_excerpts: true

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: ""
      type: authors
    values:
      layout: author

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
