<div>
  {% for author in site.authors %}
    {% if author.title == post.author %}
      {% assign biog = author %}
    {% endif %}
  {% endfor %}
  <a href="{% if post.location %}{{ post.location }}{% else %}{{ post.url }}{% endif %}">
    <h2>{{ post.title }}</h2>
    <img src="{{ site.baseurl }}{{ post.image }}"/>
  </a>
  <a href="{{ biog.url | relative_url }}" itemprop="author">{{ post.author }}</a>
  <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%d %b %Y' }}</time>
  <p>{{ post.excerpt }}</p>
</div>
