<div>
  {% for author in site.data.authors %}
    {% if author[0] == post.author %}
      {% assign twitter = author[1].twitter %}
    {% endif %}
  {% endfor %}
  <a href="{% if post.location %}{{ post.location }}{% else %}{{ post.url }}{% endif %}">
    <h2>{{ post.title }}</h2>
    <img src="{{ site.baseurl }}{{ post.image }}"/>
  </a>
  <a href="https://twitter.com/{{ twitter }}" itemprop="author">{{ post.author }}</a>
  <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%d %b %Y' }}</time>
  <p>{{ post.excerpt }}</p>
</div>
