
<div><img src="{{ site.baseurl }}img/Register-Dynamics-logo.svg" alt="Register Dynamics" />
<h3>&copy;&nbsp;<a href="https://www.register-dynamics.co.uk">Register Dynamics</a> 2019</h3>
<p><a href="mailto:hello@register-dynamics.co.uk" data-email="hello@register-dynamics.co.uk">Contact us</a></p></div>
<nav>
<div>
<h3>Product</h3><a href="https://registers.app/features">Why Registers?</a><a href="https://registers.app/enterprise">Enterprise</a><a href="https://registers.app/pricing">Pricing</a><a href="https://registers.app/signup">Sign Up</a></div>
<div>
<h3>Resources</h3><a href="https://registers.blog">Blog</a><a href="https://www.digitalmarketplace.service.gov.uk/g-cloud/services/623011781239799">G-Cloud</a><a href="https://www.github.com/register-dynamics">Github</a></div>
<div>
<h3>Company</h3><a href="https://www.register-dynamics.co.uk">About us</a><a href="https://www.register-dynamics.co.uk/#work">Our work</a><a href="https://www.register-dynamics.co.uk/blog">Blog</a><a href="https://www.register-dynamics.co.uk/publications">Publications</a><a href="https://twitter.com/RegDyn">Twitter</a><a href="https://facebook.com/registerdynamics">Facebook</a><a href="https://uk.linkedin.com/company/register-dynamics">LinkedIn</a></div></nav>