<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  {% seo %}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}img/favicon.16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}img/favicon.32x32.png" />
  <link rel="icon" type="image/png" sizes="152x152" href="{{ site.baseurl }}img/favicon.152x152.png" />
  <link rel="icon" type="image/svg" sizes="352x352" href="{{ site.baseurl }}img/apple-touch-icon.svg" />
  <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="{{ site.baseurl }}img/favicon.152x152.png" />
  <link rel="stylesheet" href="{{ site.baseurl }}css/fonts/Chivo.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}css/product-page.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}css/logo.css" type="text/css" />
  {% feed_meta %}
</head>

<body class="product-page">
  <header>
    <a href="https://registers.app/">
      {% include logo.svg %}
      <span>Registers.app</span>
    </a>
    <nav>
      <a href="https://registers.app/#signup">Sign Up</a>
      <a href="{{ site.baseurl }}">Blog</a>
      <a href="https://registers.app/pricing">Pricing</a>
      <a href="https://registers.app/enterprise">Enterprise</a>
      <a href="https://registers.app/features">Why Registers?</a>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>Copyright Register Dynamics {{ 'now' | date: '%Y' }}</footer>
  {% include tracking.html %}
</body>

</html>