---
layout: default
---
<article>
  {% for author in site.authors %}
    {% if author.title == page.author %}
      {% assign biog = author %}
    {% endif %}
  {% endfor %}
  <h1>{{ page.title }}</h1>
  <a href="{{ biog.url | relative_url }}" itemprop="author">{{ page.author }}</a>
  <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%d %b %Y' }}</time>
  {{ content }}

  <div class="sharezone">
    Share this post:
    <a href="https://linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url | url_encode }}" target="_blank">LinkedIn</a>
    <a href="https://www.twitter.com/intent/tweet?url={{ page.url | prepend: site.url | url_encode }}&via={{ site.twitter_username }}" target="_blank">Twitter</a>
    <a href="https://facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | url_encode }}" target="_blank">Facebook</a>
  </div>

  {% if biog.content %}
  <div class="biog">
    <img src="{{ site.url }}/{{ biog.image }}"/>
    <span>{{ page.author }}</span>
    {{ biog.content | markdownify }}
  </div>
  {% endif %}

  {% for license in page.licenses %}
  <span class="license">
    {{ license | markdownify }}
  </span>
  {% endfor %}
</article>
